{% extends 'main/base.html' %}
{% load static %}

{% block content %}

  <!-- Slider::Section Start-->
  <section class="main-slider inner-header">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'home/images/bg/bg3.jpg' %}"  data-saveperformance="off"  data-title="Business Coaching"> <img src="{% static 'home/images/bg/bg3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption lfb tp-resizeme"
                        data-x="center" 
                        data-hoffset="15"
                        data-y="center" 
                        data-voffset="0"
                        data-speed="1500"
                        data-start="750"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        >
              <h1>The <span>Company</span></h1>
            </div>
            <div class="tp-caption lfb tp-resizeme"
                        data-x="center" 
                        data-hoffset="15"
                        data-y="center" 
                        data-voffset="80"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"
                        style="z-index: 4; white-space: nowrap;">
              <div class="text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem natus sint quasi voluptatibus <br>
                  velit delectus possimus? Eaque sequi</p>
              </div>
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>
  <!-- Slider::Section End--> 

  <!-- Section:: About Start -->
  <section class="weblcome">
    <div class="container">
      <div class="row">
        <div class="section-container">
          <div class="col-md-4">
            <div class="about-company">
              <h2 class="small-line mb30"> History</h2>
              <span class="icofont icofont-paint-brush fz4"></span>
              <div class="text pt10">
                <h4 class="fwn">When a machine begins to run without human aid, it is time to scrap it - whether it be a dpsn factory or a government. </h4>
              </div>
              <div class="text pt10">
                <h4 class="fwn">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dignissimos alias magni nostrum commodi rerum odit iure sint laudantium. Quos, esse obcaecati corporis quas pariatur!</h4>
              </div>
              <div class="view_more pt30"> <a href="#">View More Porject <span class="icofont icofont-arrow-right"></span></a> </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumb-text">
              <div class="thumb cs-about-video clearfix go"> <img class="img-responsive" src="{% static 'home/images/sk.png' %}" alt=""> </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="about-company">
              <div class="thumb"> <img class="img-responsive" src="{% static 'home/images/service/7.jpg' %}" alt=""> </div>
              <h2 class="small-line mb30 mt20"> Vision</h2>
              <div class="text pt10">
                <h4 class="fwn">When a machine begins to run without human aid, it is time to scrap it - whether it be a dpsn factory or a government. </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pt60">
        <div class="col-md-6">
          <div class="single-img">
            <img class="img-responsive" src="{% static 'home/images/service/ser_4.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="title-tag">
            <h2 class="small-line mb30 mt-sm-20">Values</h2>
            <h4 class="fwn">The Industrious values are more than suscipit dolor similique dignissimos commodi placeat?</h4>
          </div>
            <div class="mf-counter columns-1 style-2">
                <div class="fun-fact pt20">
                    <div class="col-md-6 col-sm-12 col-xs-12 counter-column">
                        <div class="cs-number-count">
                          <i class="flaticon-welder fz3"></i>
                          <div class="count-outer"><span class="counter count count-text" data-count="319">0</span>+</div>
                          <div class="text">
                            <h5>Happy Customers</h5>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 counter-column">
                        <div class="cs-number-count">
                          <i class="flaticon-industrial-robot fz3"></i>
                          <div class="count-outer"><span class="counter count count-text" data-count="937">0</span>+</div>
                          <div class="text">
                            <h5>Coffee Cups</h5>
                          </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section:: About End --> 

  <!-- Call To Action::Section -->
  <section class="experience-divider overlayer overlayer-black parallax" data-bg-image="{% static 'home/images/bg/bg1.jpg' %}">
    <div class="container">
      <div class="section-wrap">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
            <h2 class="text-white text-uppercase">When a machine begins to run without human aid, it is time to scrap it - whether it be a dpsn factory or a government.</h2>
              <a href="contact.html" class="btn theme-btn mt20">View Our Project</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call To Action::Section End -->
  
  <!-- Section::  -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-area style_three p40 bg-black-pearl">
            <h2 class="small-line pb10 mb20 text-white">News</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit saepe porro, ipsum!</p>
            <div class="form-area pt30">
                <form id="contact-form" name="contact_form" class="contact-form style-two" action="#" method="post">
                    <div class="row clearfix">
                        <div class="col-md-12">        
                            <div class="form-group">
                                <input name="form_name" class="form-control" value="" placeholder="Name" required="" aria-required="true" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="form_email" class="form-control required email" value="" placeholder="Email" required="" aria-required="true" type="email">
                            </div>
                        </div>                                               
                    </div>
                    <div class="contact-section-btn">
                        <div class="form-group mt15">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" value="" type="hidden">
                            <button class="btn theme-second-btn" type="submit">Submit Now</button>
                        </div>
                    </div> 
                </form>
             </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <div class="our-goals">
              <div class="item">
                <span class="flaticon-cargo-ship-1"></span>
                <h3 class="mbn">Environment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
            <div class="our-goals">
              <div class="item">
                <span class="flaticon-cargo-ship-1"></span>
                <h3 class="mbn">Health</h3>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
            <div class="our-goals">
              <div class="item">
                <span class="flaticon-cargo-ship-1"></span>
                <h3 class="mbn">And Safety</h3>
                <p>Lorem ipsum dolor sit amet, consectetur.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="clients-slider-1">
            <article class="post item">
                <div class="entry-thumbnail">
                  <img class="img-responsive" src="{% static 'home/images/blog/10.jpg' %}" alt="">
                  <div class="post-meta">
                    <span class="pub-date">28, July 2018</span>
                  </div>
                </div>
                <div class="post-content">
                  <div class="entry-title">
                    <h3>Maecenas congue mauris </h3>
                  </div>
                  <div class="entry-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate suscipit.</p>
                    <div class="readmore">
                      <a href="#"><i class="icofont icofont-curved-right"></i></a>
                    </div>
                  </div>
                </div>
            </article>
            <article class="post item">
                <div class="entry-thumbnail">
                  <img class="img-responsive" src="{% static 'home/images/blog/10.jpg' %}" alt="">
                  <div class="post-meta">
                    <span class="pub-date">28, July 2018</span>
                  </div>
                </div>
                <div class="post-content">
                  <div class="entry-title">
                    <h3>Maecenas congue mauris </h3>
                  </div>
                  <div class="entry-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate suscipit.</p>
                    <div class="readmore">
                      <a href="#"><i class="icofont icofont-curved-right"></i></a>
                    </div>
                  </div>
                </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--Section::Footer-->


{% endblock %}
