{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<!-- Slider::Section Start-->
<section class="main-slider style_2">
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'home/images/slider/1.jpg' %}"  data-saveperformance="off"  data-title="Business Coaching"> <img src="{% static 'home/images/slider/1.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="15"
                      data-y="center" 
                      data-voffset="0"
                      data-speed="1500"
                      data-start="750"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="big-title text-uppercase">
              <h1>Get a Solution for <br> <span>all industry</span></h1>
            </div>
          </div>

          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="20"
                      data-y="center" 
                      data-voffset="120"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem natus sint quasi voluptatibus <br>velit delectus possimus? Eaque sequi dolores doloribus libero temporibus itaque natus, accusantium <br>delectus commodi, impedit deleniti doloremque?</p></div>
          </div>

          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="20"
                      data-y="center" 
                      data-voffset="200"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="link-btn"><a href="#" class="btn theme-btn">Our Services</a></div>
          </div>
        </li>
        <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'home/images/slider/2.jpg' %}"  data-saveperformance="off"  data-title="We Works With"> <img src="{% static 'home/images/slider/2.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div class="tp-caption lfb tp-resizeme"
                      data-x="right" 
                      data-hoffset="-15"
                      data-y="center" 
                      data-voffset="0"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="big-title text-right">
              <h1>We Are Leaders in <br>The Industry</h1>
            </div>
          </div>


          <div class="tp-caption lfb tp-resizeme"
                      data-x="right" 
                      data-hoffset="-15"
                      data-y="center" 
                      data-voffset="120"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="text-right"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem natus sint quasi voluptatibus <br>velit delectus possimus? Eaque sequi dolores doloribus libero temporibus itaque natus, accusantium <br>delectus commodi, impedit deleniti doloremque?</p></div>
          </div>
          <div class="tp-caption lfb tp-resizeme"
                      data-x="right" 
                      data-hoffset="-15"
                      data-y="center" 
                      data-voffset="200"
                      data-speed="1500"
                      data-start="1500"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="link-btn"><a href="#" class="btn theme-btn">View Profile</a></div>
          </div>
        </li>
        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="{% static 'home/images/slider/3.jpg' %}"  data-saveperformance="off"  data-title="The Customer"> <img src="{% static 'home/images/slider/3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="15"
                      data-y="center" 
                      data-voffset="0"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="big-title">
              <h1>We have Powerfull  <br>
                and <span>Expert Engineers</span></h1>
            </div>
          </div>

          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="20"
                      data-y="center" 
                      data-voffset="120"
                      data-speed="1500"
                      data-start="1000"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem natus sint quasi voluptatibus <br>velit delectus possimus? Eaque sequi dolores doloribus libero temporibus itaque natus, accusantium <br>delectus commodi, impedit deleniti doloremque?</p></div>
          </div>
          <div class="tp-caption lfb tp-resizeme"
                      data-x="left" 
                      data-hoffset="15"
                      data-y="center" 
                      data-voffset="200"
                      data-speed="1500"
                      data-start="1500"
                      data-easing="easeOutExpo"
                      data-splitin="none"
                      data-splitout="none"
                      data-elementdelay="0.01"
                      data-endelementdelay="0.3"
                      data-endspeed="1200"
                      data-endeasing="Power4.easeIn"
                      style="z-index: 4; white-space: nowrap;">
            <div class="link-btn"><a href="#" class="btn theme-btn">Our Project</a></div>
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer"></div>
    </div>
  </div>
</section>
<!-- Slider::Section End--> 

<section class="welcome">
  <div class="outer-big-title">
    <h1>25 Years</h1>
  </div>
  
  <div class="container ptn">
    <div class="dot-banner">
      <img src="{% static 'home/images/dot-bg.png' %} " alt="">
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-5 col-sm-12 fact-section">
          <div class="title-inner style_2">
              <h3 class="small-line mb20 ">About Us</h3>
              <div class="text pt10"> <h5 class="fwn">When a machine begins to run without human aid, it is time to scrap it - whether it be a dpsn factory or a government.</h5> 
              </div>
               <ul class="welcome-list">
                  <li>Factory Press Distinctively synergize seamless methods</li>
                  <li>Pellentesque venenatis aliquam neque. Cras ante</li>
                  <li>Individual attention in a small-class setting</li>
                  <li>Consectetur adipisicing elit</li>
                  <li>Laudantium quae perferendis, tenetur</li>
               </ul>

               <ul class="list-inline mt50 mb30">
                 <li><a href="#" class="btn theme-second-btn">All services</a></li>
                 <li><a href="contact.html" class="btn theme-btn">Get A Quote</a></li>
               </ul>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="services-block-logo">
              <img class="img-responsive" src="{% static 'home/images/show-logo.png' %} " alt="">
            </div>
            <div class="services-block padd_marg_n col-xs-12 col-lg-6 col-sm-6 col-md-6">
              <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-factory-1"></span>
              </div>
                  <h2>01</h2>
                  <h5><a href="#">Bigest Company </a></h5>
                  <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
            <div class="services-block padd_marg_n col-xs-12 col-lg-6 col-sm-6 col-md-6">
              <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-engineer"></span>
              </div>
                  <h2>01</h2>
                  <h5><a href="#">We expert</a></h5>
                  <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
            <div class="services-block padd_marg_n col-xs-12 col-lg-6 col-sm-6 col-md-6">
              <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-refinery"></span>
              </div>
                  <h2>01</h2>
                  <h5><a href="#">Quality Skills</a></h5>
                  <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
            <div class="services-block padd_marg_n col-xs-12 col-lg-6 col-sm-6 col-md-6">
              <div class="inner-box">
              <div class="icon-box">
                <span class="flaticon-nuclear-plant"></span>
              </div>
                  <h2>01</h2>
                  <h5><a href="#">Hedge triming </a></h5>
                  <p>We’ll generate a sitemap for your site, submit it to search engine is and track crawler access.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services::Section  -->
<section class="our_offer bg-light-grey">
  <div class="container pb30">
      <div class="section-title">
        <div class="row">
          <div class="col-md-8">
            <div class="title-inner">
                <div class="text"> 
                  <h2 class="small-line mb30">Our Best <span>Services</span> </h2>  
                  <p>Wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls collection of textile samples lay spread out on the table Samsa was a travelling salesman.</p>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_1.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-barrel"></span>

                    </div>
                    <h3 class="mbn"><a href="#">Mining Plant Set</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_2.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-harbor-crane"></span>
                        
                    </div>
                    <h3 class="mbn"><a href="#">Pre Construction</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_3.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-oil-platform"></span>
                        
                    </div>
                    <h3 class="mbn"><a href="#">US Gas company</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_4.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-tank-1"></span>
                        
                    </div>
                    <h3 class="mbn"><a href="#">Plus Project</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_5.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-radiation"></span>
                        
                    </div>
                    <h3 class="mbn"><a href="#">Painting and Protective</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
          <div class="col-md-4 pn">
            <div class="item">
                <div class="about-item inner-box">
                    <div class="image">
                        <img src="{% static 'home/images/service/ser_6.jpg' %}" alt="" class="img-responsive">
                        <span class="icon flaticon-engineer"></span>
                        
                    </div>
                    <h3 class="mbn"><a href="#">Mechanical Engineering</a></h3>
                    <div class="view_more">
                      <a class="ptn" href="#">View details <span class="icofont icofont-arrow-right"></span></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</section>
<!-- Services::Section End  -->

<!-- Call To Action::Section -->
<section class="experience-divider overlayer overlayer-black parallax" data-bg-image="{% static 'home/images/bg/bg1.jpg' %}">
  <div class="container">
    <div class="section-wrap">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2 class="text-white text-uppercase">When a machine begins to run without human aid, it is time to scrap it - whether it be a dpsn factory or a government.</h2>
          <div class="divider_text">
            <p>This factory is dolor sit amet, consectetur adipisicing elit. Maxime ratione incidunt, esse saepe libero sunt animi deleniti obcaecati molestiae accusamus fuga rerum. Assumenda consequuntur reprehenderit tenetur molestiae, autem quo vitae?</p>
            <a href="contact.html" class="btn theme-btn mt20">View Our Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Action::Section End -->


<!--Featured Services-->
  <section class="featured-services">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-8">
            <div class="title-inner">
                <div class="text"> 
                  <h2 class="small-line mb30">Our Best <span>Services</span> </h2>  
                  <p>Wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls collection of textile samples lay spread out on the table Samsa was a travelling salesman.</p>
               </div>
            </div>
          </div>
        </div>
      </div>
          
        <!--Box Container-->
        <div class="container-box anim-5-all">
              <div class="col-lg-12 single-what-we-do clearfix">
                  <div class="img-wrap ">
                      <img src="{% static 'home/images/what-we-do/1.jpg' %}" alt="">
                      <div class="overlay">
                          <div class="link">
                              <a href="#" class="fa fa-link"></a>
                          </div>
                      </div>
                  </div>
                  <div class="content">
                      <h2>Metal and Non - Metals</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex architecto voluptates perspiciatis accusantium culpa possimus, totam sint cumque, eaque perferendis nam debitis nobis illo cum id molestias incidunt amet. Omnis quasi iure repudiandae tempore, in cupiditate fugit repellat necessitatibus, accusamus vel commodi, harum. Deleniti cum architecto mollitia illum, ut quidem.</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div class="col-lg-12 single-what-we-do clearfix content-left">
                  <div class="img-wrap">
                      <img src="{% static 'home/images/what-we-do/2.jpg' %}" alt="">
                      <div class="overlay">
                          <div class="link">
                              <a href="#" class="fa fa-link"></a>
                          </div>
                      </div>
                  </div>
                  <div class="content">
                      <h2>Construction Materials</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex architecto voluptates perspiciatis accusantium culpa possimus, totam sint cumque, eaque perferendis nam debitis nobis illo cum id molestias incidunt amet. Omnis quasi iure repudiandae tempore, in cupiditate fugit repellat necessitatibus, accusamus vel commodi, harum. Deleniti cum architecto mollitia illum, ut quidem.</p>
                      <a href="#">Read More</a>
                  </div>
              </div>   
              <div class="col-lg-12 single-what-we-do clearfix">
                  <div class="img-wrap ">
                      <img src="{% static 'home/images/what-we-do/3.jpg' %}" alt="">
                      <div class="overlay">
                          <div class="link">
                              <a href="#" class="fa fa-link"></a>
                          </div>
                      </div>
                  </div>
                  <div class="content">
                      <h2>Metal and Non - Metals</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex architecto voluptates perspiciatis accusantium culpa possimus, totam sint cumque, eaque perferendis nam debitis nobis illo cum id molestias incidunt amet. Omnis quasi iure repudiandae tempore, in cupiditate fugit repellat necessitatibus, accusamus vel commodi, harum. Deleniti cum architecto mollitia illum, ut quidem.</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div class="col-lg-12 single-what-we-do clearfix content-left">
                  <div class="img-wrap">
                      <img src="{% static 'home/images/what-we-do/4.jpg' %}" alt="">
                      <div class="overlay">
                          <div class="link">
                              <a href="#" class="fa fa-link"></a>
                          </div>
                      </div>
                  </div>
                  <div class="content">
                      <h2>Construction Materials</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex architecto voluptates perspiciatis accusantium culpa possimus, totam sint cumque, eaque perferendis nam debitis nobis illo cum id molestias incidunt amet. Omnis quasi iure repudiandae tempore, in cupiditate fugit repellat necessitatibus, accusamus vel commodi, harum. Deleniti cum architecto mollitia illum, ut quidem.</p>
                      <a href="#">Read More</a>
                  </div>
              </div>   

              <div class="clearfix"></div>
              
          </div>
          <!--Box Container End-->
              
      </div>
  </section>



<!-- Section:: Call To Action -->
<section class="call-to-action bg-black-pearl">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-10">
          <h6>Looking for a quality</h6>
          <h2 class="small-line text-uppercase mb30 text-white">constructor
          <span class="text-theme-color"> <br>for your next project?</span></h2> 
        </div>
        <div class="col-md-2 mt30">
          <a href="contact.html" class="btn theme-second-btn mt20">Our Responsibility</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section:: Call To Action End -->

<!--Section:: Testimonial-->
<section class="testimonial style_2">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial_style_2">
            <div class="item">
              <div class="testimonial-item style_2">
               <blockquote> 
                <div class="testimonial-thumb pb20">
                  <img class="img-circle" src="{% static 'home/images/testimonial/4.jpg' %}" alt="">
                </div>
                  <cite>
                    <span>Sharon K. Larsen</span>
                  </cite>
                      <p>Anyone who's working in manufacturing here should know they will have increased opportunities if we leave the European Union. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repudiandae officiis molestiae perferendis.</p>
                </blockquote>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item style_2">
               <blockquote> 
                <div class="testimonial-thumb pb20">
                  <img class="img-circle" src="{% static 'home/images/testimonial/4.jpg' %}" alt="">
                </div>
                  <cite>
                    <span>Sharon K. Larsen</span>
                  </cite>
                      <p>Anyone who's working in manufacturing here should know they will have increased opportunities if we leave the European Union. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio repudiandae officiis molestiae perferendis.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="opsition">
            <div class="rich-text">
              <h2>Let's Grow<br>
                <strong>Together</strong>
              </h2>
              <p class="text-white">Join our honor winning group, and appreciate an inventive, <br> dynamic and comprehensive culture concentrated on one objective.</p>
              <a href="contact.html" class="btn theme-btn mt20">See Open careers</a>
            </div>
          </div>
        </div>
      </div>
        <div class="mf-counter columns-1 style-2 pt50">
          <div class="row fun-fact">
              <div class="col-md-4 col-sm-4 col-xs-12 counter-column">
                <div class="cs-counter-col">
                  <div class="cs-number-count">
                    <i class="flaticon-welder"></i>
                    <div class="count-outer"><span class="counter count count-text" data-count="319">0</span>+</div>
                    <div class="text">
                      <h5>Happy Customers</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 counter-column ">
                <div class="cs-counter-col">
                  <div class="cs-number-count">
                    <i class="flaticon-radiation"></i>
                    <div class="count-outer"><span class="counter count count-text" data-count="350">0</span>+</div>
                    <div class="text">
                      <h5> Finished Projects </h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 counter-column">
                <div class="cs-counter-col">
                  <div class="cs-number-count">
                    <i class="flaticon-industrial-robot"></i>
                    <div class="count-outer"><span class="counter count count-text" data-count="937">0</span>+</div>
                    <div class="text">
                      <h5>Coffee Cups</h5>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section:: Testimonial End -->


<!-- Section::Client -->
<section class="client bg-color-f9">
  <div class="container pt40 pb40">
    <div class="section-content">
      <div class="row">
        <div class="col-sm-10 co-sm-offset-1 col-md-10 col-md-offset-1">
          <div class="clients-slider"> 
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/1-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/2-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/3-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/4-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/5-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/1-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/2-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/3-w.png' %} "></div>
            <!-- Logo item -->
            <div class="item"><img alt="" src="{% static 'home/images/client/1-w.png' %} "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section::Client End--> 

<!-- Section::  -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-area style_three p40 bg-black-pearl">
          <h2 class="small-line pb10 mb20 text-white">News</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit saepe porro, ipsum!</p>
          <div class="form-area pt30">
              <form id="contact-form" name="contact_form" class="contact-form style-two" action="#" method="post">
                  <div class="row clearfix">
                      <div class="col-md-12">        
                          <div class="form-group">
                              <input name="form_name" class="form-control" value="" placeholder="Name" required="" aria-required="true" type="text">
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="form-group">
                              <input name="form_email" class="form-control required email" value="" placeholder="Email" required="" aria-required="true" type="email">
                          </div>
                      </div>                                               
                  </div>
                  <div class="contact-section-btn">
                      <div class="form-group mt15">
                          <input id="form_botcheck" name="form_botcheck" class="form-control" value="" type="hidden">
                          <button class="btn theme-second-btn" type="submit">Submit Now</button>
                      </div>
                  </div> 
              </form>
           </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <div class="our-goals">
            <div class="item">
              <span class="flaticon-cargo-ship-1"></span>
              <h3>Environment</h3>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
          <div class="our-goals">
            <div class="item">
              <span class="flaticon-cargo-ship-1"></span>
              <h3>Health</h3>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
          <div class="our-goals">
            <div class="item">
              <span class="flaticon-cargo-ship-1"></span>
              <h3>And Safety</h3>
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="clients-slider-1">
          <article class="post item">
              <div class="entry-thumbnail">
                <img class="img-responsive" src="{% static 'home/images/blog/10.jpg' %}" alt="">
                <div class="post-meta">
                  <span class="pub-date">28, July 2018</span>
                </div>
              </div>
              <div class="post-content">
                <div class="entry-title">
                  <h3>Maecenas congue mauris </h3>
                </div>
                <div class="entry-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate suscipit.</p>
                  <div class="readmore">
                    <a href="#"><i class="icofont icofont-curved-right"></i></a>
                  </div>
                </div>
              </div>
          </article>
          <article class="post item">
              <div class="entry-thumbnail">
                <img class="img-responsive" src="{% static 'home/images/blog/10.jpg' %}" alt="">
                <div class="post-meta">
                  <span class="pub-date">28, July 2018</span>
                </div>
              </div>
              <div class="post-content">
                <div class="entry-title">
                  <h3>Maecenas congue mauris </h3>
                </div>
                <div class="entry-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate suscipit.</p>
                  <div class="readmore">
                    <a href="#"><i class="icofont icofont-curved-right"></i></a>
                  </div>
                </div>
              </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}