{% load static %}
<!DOCTYPE html>
<html>


<head>
<meta charset="utf-8">
<title>Industrious - Factory & Industrial Responsive HTML5 Template</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Stylesheets -->
<link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.png' %}" />
<link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
<!-- Font Icon -->
<link href="{% static 'home/css/stroke-gap-icons.css' %}" rel="stylesheet">
<link href="{% static 'home/css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'home/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'home/css/icofont.css' %}" rel="stylesheet">
<!-- Fancybox -->
<link href="{% static 'home/css/jquery.fancybox.css' %}" rel="stylesheet">
<!-- Revolution Slider -->
<link href="{% static 'home/css/revolution-slider.css' %}" rel="stylesheet">
<!-- Owl Carousel -->
<link href="{% static 'home/css/owl.carousel.css' %}" rel="stylesheet">
<!-- Main CSS -->
<link href="{% static 'home/css/main-style.css' %}" rel="stylesheet">
<!-- Responsive -->
<link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js' %}"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'home/js/respond.js' %}"></script><![endif]-->
</head>
<!-- Main Header / Style One-->
<header class="main-header header-style-two">    
  <!--Header-Main Box-->
  <div class="header-mainbox style_3">
    <div class="container ptn pbn">
      <div class="clearfix">
        <div class="logo-box">
          <div class="logo"> <a href="index.html"><img class="img-responsive" src="{% static 'home/images/logo/logo.png' %}" alt="" title="Business"></a> </div>
        </div>
        <div class="outer-box clearfix"> 
          <!-- Main Menu -->
          <nav class="main-menu logo-outer">
            <div class="navbar-header"> 
              <!-- Toggle Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="current "> <a href="#">Home</a>
                </li>
                <li > <a href="/about">About Us</a>
                </li>
                <li class="dropdown"> <a href="#">Products</a>
                  <ul>
                   <li><a href="manifacturing.html">Automotive manifacturing</a></li>
                  </ul>
                </li>
                <li > <a href="#">MARKETS SERVED</a>
                </li>
                <li > <a href="#">APPLICATIONS</a>
                </li>
                <li class="extra-menu-item menu-item-button-link">
                    <a href="/contact" class="btn theme-btn">Get A Quote</a>
                </li>
              </ul>
            </div>
          </nav>
          <!-- Main Menu End--> 
        </div>
      </div>
    </div>
  </div>
  <!--Header Main Box End--> 
</header>
<!--End Main Header -->
    {% block content %}

    {% endblock %}
  <!--Section::Footer-->
  <footer class="main-footer">
    <div class="container ptn">
      <div class="row pt60 pb40">
        <div class="col-md-4 pn">
          <div class="info-box p20">
            <div class="icon-box">
              <i class="icofont icofont-binary pr20"></i>
              <ul>
                  <li><strong>Certified Company</strong> <br>ISO 9001:2005</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 pn">
          <div class="info-box p20">
            <div class="icon-box">
              <i class="icofont icofont-dart pr20"></i>
              <ul>
                  <li><strong>Winner</strong> <br>Construction award 2017</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 pn">
          <div class="info-box p20">
            <div class="icon-box">
              <i class="icofont icofont-badge pr20"></i>
              <ul>
                  <li><strong>Number 1 Company</strong> <br>In USA</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-1"> <a href="index.html"><img class="img-responsive" src="{% static 'home/images/logo/logo.png' %}" alt="" title="Business"></a>
            <p>Nulla vitae cursus quam, nec ultrices nibh. Quisque tristique lorem ac diam laoreet auctor. Proin ac massa elit. </p>
            <ul class="social">
              <li><a href="#"><span>follow us :</span></a></li>
              <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-behance"></i></a></li>
              <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <!--Footer Column-->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-2">
            <h4>latest news</h4>
            <p>Aenean tristique justo et nibh molestie, non porttitor eros suscipit</p>
            <p>Phasellus dapibus dictum augue ut</p>
            <p>Mauris blandit vitae. Praesent non</p>
          </div>
        </div>
        <!--Footer Column-->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-3">
            <h4>Contact us</h4>
            <p><span>Address :</span> <br>
              8500 Lorem Street, Chicago, IL, 55030</p>
            <p><span>Call Us :</span> <br>
              (123) 456-78-90</p>
            <p><span>Email :</span> <br>
              sales@yoursite.com </p>
          </div>
        </div>
        <!--Footer Column-->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-4">
            <h4>Flickr</h4>
            <div class="flickr-feed clearfix">
              <ul>
                <li> <a href="{% static 'home/images/flicker/1.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/1.jpg' %} " alt=""></a> </li>
                <li> <a href="{% static 'home/images/flicker/2.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/2.jpg' %} " alt=""></a> </li>
                <li> <a href="{% static 'home/images/flicker/3.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/3.jpg' %} " alt=""></a> </li>
                <li> <a href="{% static 'home/images/flicker/4.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/4.jpg' %} " alt=""></a> </li>
                <li> <a href="{% static 'home/images/flicker/5.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/5.jpg' %} " alt=""></a> </li>
                <li> <a href="{% static 'home/images/flicker/6.jpg' %} " class="lightbox-image" title="Image Caption Here"><img src="{% static 'home/images/flicker/6.jpg' %} " alt=""></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Copyright-->
    <div class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></div>
  </footer>
  <!--Section::Footer End -->

</div>
<!--End pagewrapper--> 

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icofont icofont-long-arrow-up"></span></div>
<script src="{% static 'home/js/jquery.js' %}"></script> 
<script src="{% static 'home/js/jquery-ui-1.11.4/jquery-ui.js' %}"></script> 
<script src="{% static 'home/js/revolution.min.js' %}"></script> 
<script src="{% static 'home/js/rev-custom.js' %}"></script>
<script src="{% static 'home/js/all-jquery.js' %}"></script> 
<script src="{% static 'home/js/script.js' %}"></script>
</body>


</html>